<h1>Welcome to our website!</h1>
<h2>All Users</h2>
<br>

<ul>
  <% @users.each do |u| %>
    <li>
      <%= u.username %>
    </li>

    <% if current_user.if_admin? %>
       <%= render 'roles/form', user: u %> 
       <br>

       <%= button_to 'Edit', edit_user_path(u), method: :get %>
       <%= button_to 'Delete', user_path(u), method: :delete, turbo_confirm: "Are you sure?" %>

       <p>
          <% u.roles.each do |r| %>
            <%= r.user_role %>
         <% end %> 
       </p>

    <% end %>
  <% end %>
</ul>

<% if user_signed_in? %>
  <h3>Welcome, as <%= current_user.email %>!</h3>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete%>
<% else %>
  <%= button_to "Sign In", new_user_session_path , method: :get %>
  <%= button_to "Sign Up", new_user_registration_path , method: :get %>
<% end %>
