<h1>Welcome to our website!</h1>
<h2>All Users</h2>
<br>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.username %>
    </li>
    <% if current_user.if_admin?%>
    <%= render 'roles/form' ,user: user %> 
     
    <br>
    <p>
     <%= button_to "Add user", new_user_session_path , method: :get %>
    </p>

    <% end %>
  <% end %>
</ul>

<% if user_signed_in? %>
  <h3>Welcome, as <%= current_user.email %>!</h3>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete%>
<% else %>
  <%= button_to "Sign In", new_user_session_path , method: :get %>
  <%= button_to "Sign Up", new_user_registration_path , method: :get %>
<% end %>
