<div class="text-center">
  <h1>Shopping Cart</h1>
</div>
<br>
<% total_bill = 0 %>
<div class="container">
  <% @cart.line_items.each do |line_item| %>
    <div class="card mb-2">
      <div class="row g-0">
        <div class="col-md-2">
          <% if line_item.product.image.attached? %>
            <div class="image-container">
              <%= image_tag line_item.product.image, class: "img-fluid" %>
            </div>
          <% end %>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title"><%= line_item.product.title %></h5>
            <p class="card-text">
              <strong>Quantity: </strong>
              <span class="quantity" data-line-item-id="<%= line_item.id %>"><%= line_item.quantity %></span>
            </p>
            <p class="card-text">
              <strong>Unit Price: </strong>
              <%= line_item.product.price %>
            </p>
            <p class="card-text">
              <strong>Total Price: </strong>
              <% bill = line_item.total_price %>
              <%= bill %>
              <% total_bill += bill %>
            </p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="text-right p-3">
            <button class="increase-quantity btn btn-primary" data-line-item-id="<%= line_item.id %>">+</button>
            <button class="decrease-quantity btn btn-primary" data-line-item-id="<%= line_item.id %>">-</button>
          </div>
          <div class="text-right p-3">
            <%= button_to 'Remove', line_item_path(line_item), method: :delete, class: "btn btn-danger", form: { 
              data: { 
                turbo_confirm: "Are you sure you want to remove this item from cart?"
              }
             } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>
<div class="text-center">
  <h4>Your total bill is: <%= total_bill %> Rs </h4>
</div>
<br>
<div class="d-flex justify-content-center align-items-center mt-3">
  <%= button_to 'Remove All Items', user_cart_path(current_user, cart_id: @cart.id), method: :delete, class: "btn btn-danger", form: { 
    data: { 
      turbo_confirm: "Are you sure you want to remove all items from the cart?"
    }
   } %>
   
   <%= button_to "Check Out", new_order_path(@cart), method: :get, class: "btn btn-primary" %>
</div>
<%= button_to "Back", :back, method: :get, class: "btn btn-primary" %>
