<div class="container text-center" style="border: 3px solid #000;">
  <%= form_with model: @product, id: 'multi-step-form', html: { class: 'custom-form' } do |form| %>
    <div class="step" id="step-1">
      <div class="form-group">
        <h4><%= form.label :title %></h4>
        <%= form.text_field :title, class: 'form-control form-control-lg', id: 'title' %>
        <div class="text-danger" id="title-error"></div>
      </div>
      <%= button_tag 'Next', type: 'button', class: 'btn btn-primary btn-lg', id: 'next-btn-1' %>
    </div>

    <div class="step" id="step-2" style="display: none;">
      <div class="form-group">
        <h4><%= form.label :description %></h4>
        <%= form.text_area :description, class: 'form-control form-control-lg', id: 'description' %>
        <div class="text-danger" id="description-error"></div>
      </div>
      <%= button_tag 'Previous', type: 'button', class: 'btn btn-secondary btn-lg', id: 'prev-btn-2' %>
      <%= button_tag 'Next', type: 'button', class: 'btn btn-primary btn-lg', id: 'next-btn-2' %>
    </div>

    <div class="step" id="step-3" style="display: none;">
      <div class="form-group">
        <h4><%= form.label :price %></h4>
        <%= form.text_field :price, class: 'form-control form-control-lg', id: 'price' %>
        <div class="text-danger" id="price-error"></div>
      </div>
      <%= button_tag 'Previous', type: 'button', class: 'btn btn-secondary btn-lg', id: 'prev-btn-3' %>
      <%= button_tag 'Next', type: 'button', class: 'btn btn-primary btn-lg', id: 'next-btn-3' %>
    </div>

    <div class="step" id="step-4" style="display: none;">
      <div class="form-group">
        <h4><%= form.label :total_quantity %></h4>
        <%= form.text_field :total_quantity, class: 'form-control form-control-lg', id: 'total_quantity' %>
        <div class="text-danger" id="total_quantity-error"></div>
      </div>
      <%= button_tag 'Previous', type: 'button', class: 'btn btn-secondary btn-lg', id: 'prev-btn-4' %>
      <%= button_tag 'Next', type: 'button', class: 'btn btn-primary btn-lg', id: 'next-btn-4' %>
    </div>

    <div class="step" id="step-5" style="display: none;">
      <div class="form-group">
        <h4><%= form.label :quantity_in_stock %></h4>
        <%= form.text_field :quantity_in_stock, class: 'form-control form-control-lg', id: 'quantity_in_stock' %>
        <div class="text-danger" id="quantity_in_stock-error"></div>
      </div>
      <%= button_tag 'Previous', type: 'button', class: 'btn btn-secondary btn-lg', id: 'prev-btn-5' %>
      <%= button_tag 'Next', type: 'button', class: 'btn btn-primary btn-lg', id: 'next-btn-5' %>
    </div>

    <div class="step" id="step-6" style="display: none;">
      <div data-controller="previews">
        <h4><%= form.label :image, 'Select Image', style: "display: block" %></h4>
        <%= form.file_field :image, direct_upload: true,
          data: { previews_target: "input", action: "change->previews#preview" } %>
        <div class="container text-center" style="width: 200px; height: 200px;">
          <% if @product.image.attached? %>
            <%= image_tag @product.image, data: { previews_target: "preview" }, style: "width: 200px; height: auto;" %>
          <% else %>
            <%= image_tag "", data: { previews_target: "preview" }, style: "width: 200px; height: auto;" %>
          <% end %>
        </div>
        <% @product.errors.full_messages_for(:image).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
      <%= button_tag 'Previous', type: 'button', class: 'btn btn-secondary btn-lg', id: 'prev-btn-6' %>
      <%= form.submit 'Submit', class: 'btn btn-primary btn-lg' %>
    </div>

  <% end %>
</div>
