<div data-controller="previews">
<h5>  <%= form.label :image, 'Select Image', style: "display: block" %>  </h5>
  <%= form.file_field :image,
    direct_upload: true,
    data: { previews_target: "input", action: "change->previews#preview" } %>
  <div style: "width: 250px; height: 250px;">
    <% if product.image.attached? %>
      <%= image_tag product.image, data: { previews_target: "preview" }, style: "width: 250px; height: auto;" %>
    <% else %>
      <%= image_tag "", data: { previews_target: "preview" }, style: "width: 250px; height: auto;" %>
    <% end %>
  </div>
  <% product.errors.full_messages_for(:image).each do |message| %>
    <div><%= message %></div>
  <% end %>
</div>
