<h1>Products</h1>
<%= form_with(url: products_path, method: :get) do |form| %>
  <%= form.label :price, "<strong>Search by Price:</strong>".html_safe %>
  <%= form.text_field :price, placeholder: 'Search products by price...' %>

  <%= form.label :quantity, "<strong>Search by Total Quantity:</strong>".html_safe %>
  <%= form.text_field :quantity, placeholder: 'Search products by quantity...' %>

  <div class="field">
    <%= form.submit 'Search' %>
  </div> <br>
<% end %>

<ul>
  <% @products.each do |product| %>
    <div>
      <% if product.image.attached? %>
        <%= image_tag product.image %>
      <% end %>
      <p> <strong> Title: </strong> <%= product.title %>  </p>
      <p> <strong> Description: </strong> <%= product.description %>  </p>
      <p> <strong> Price: </strong> <%= product.price %>  </p>
      <p> <strong> Totalquantity: </strong> <%= product.total_quantity %>  </p>
      <p> <strong> Quantity in stock: </strong> <%= product.quantity_in_stock %>  </p>
    </div>
    
    <p>
      <%= button_to 'Edit', edit_product_path(product), method: :get %>
      <%= button_to 'Delete', product_path(product), method: :delete, turbo_confirm: "Are you sure?" %>
    </p>
    <% end %>

</ul>

<%= button_to "Add New Product", new_product_path, method: :get %> <br>
<%= paginate @products %>
